.login_container {
  /* background: radial-gradient(circle, #eeaeca 0, #94bbe9 100%); */
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login_form {
  color: #a764f3;
  width: 300px;
  height: 500px;
  display: flex;
  margin-right: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login_container h1 {
  color: #a764f3;
  font-size: 1.8rem;
}
.quote_container {
  width: 600px;
}
.login_buttons button {
  display: block;
  width: 200px;
  color: #f1eae5ff;
  color: black;
  padding: 5px 10px;
  border-radius: none;
  margin-top: 10px;
}

h1 {
  color: white;
}
.login_form input {
  width: 200px;
  padding: 5px 10px;
  margin: 5px 0;
}

figure {
  font-size: 1.6rem;
  color: #a764f3;
}
.login_container div {
  margin-top: 20px;
}
.login_buttons button a {
  color: black;
}
