.suggestion_container h1 {
  text-align: center;
}

.suggestion_profile_container {
  margin-top: 20px;
  margin-left: 10px;
}
.suggestion_profile {
  margin-top: 25px;
  display: flex;
  gap: 10px;
}
.suggestion_profile span {
  font-size: 0.9rem;
}
.suggestion_profile button {
  margin-top: 8px;
  padding: 4px 10px;
}
.suggestion_profile img {
  width: 48px;
  object-fit: cover;
  height: 48px;
  border-radius: 50%;
}
.suggestion_container_sort_button {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
  gap: 5px;
}
.suggestion_container_sort_button button {
  width: 160px;
  height: 40px;
}
