@font-face {
  font-family: "woff";
  src: url("./messapia-bold.woff2");
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "woff";
  font-size: 0.99rem;
}

html,
body,
#root,
.app {
  color: white;
  background-color: black;
  height: 100%;
}
.main-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 22% auto 22%;
}

.column {
  background-color: black;
  padding: 10px;
}
.main-layout .column:nth-child(2) {
  border-left: 000000.1px solid #d6b8f7;
  border-right: 000000.1px solid #d6b8f7;
}
.modal {
  width: 500px;

  height: 400px;
}
.modal-content {
  display: flex;
  flex-direction: column;
}
.modal-content label {
  padding-top: 15px;
}
